    <div class="section section-hero-contact">
        <h1 class="title p-3 fw-bold mb-0">Contattaci</h1>
        <h5 class="p-3 description">Siamo quì per voi! Che abbiate da porci una domanda o che vogliate richiedere informazioni sui nostri servizi, chiamateci direttamente. Non vediamo l'ora di organzzare con voi!</h5>
    </div>

    <!--section for phone number-->

<div class="section-contacts">
    <h1 class="title p-4 fw-bold mb-0 ">I nostri contatti</h1>

    <h3 class="p-3  text title ">Josè Corradengo</h3>
    <h4 class="p-2  description">Numero di telefono: +39 320 893 0266 </h4>

    <h3 class="p-3 text title ">Thomas Sedda</h3>
    <h4 class="p-2  description">Numero di telefono: +39 389 460 6206 </h4>

    <h3 class="p-3 text title">Agenzia</h3>
    <h4 class="p-2 description">Numero di telefono:  371 465 7917  </h4>
</div>