<!--primi 3 testi iniziali-->
<section class="section-about-us">
        <h1 class="title title-about-us display-4 fw-bold mb-0"><strong>Qualcosa su di noi</strong></h1>
        
        <h5 class="p-3 text description">Siamo i vostri alleati nella creazione di momenti che rimarranno per sempre nel cuore, il nostro obiettivo è vedere i vostri occhi brillare quando tutto è perfetto!</h5>
        
        <h5 class="p-3 text description">Da 10 anni House Sensation Love cura ogni dettaglio, dalla location alla playlist finale con l'idea di trasformare ogni occasione in un'esperienza unica, su misura per grandi e piccoli.</h5>

        <h5 class="p-3 motive">
            <span class="prima-frase">Come lavoriamo? Con il</span>
            <span class="Cuore"> Cuore!</span></h5>
</section>

<!--titolo sezione cards-->
    <div class=" title-for-section-cards">
        <h1 class="title fw-bold mb-0 p-4"><strong>Chi sono gli spiriti della festa?</strong></h1>
    </div>

<!--section cards-->

<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-4 gap-5 gx-lg-7 justify-content-center">
        
        <div class="col">
            <div class="card h-100 text-center card-equal-height">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="mb-3">
                    <img src="https://i.ibb.co/jvFStbyY/jos.jpg" class="card-image-small" alt="Foto Josè alla consolle">
                        <h4 class="card-title mt-3">Josè Corradengo</h4>
                        <h5 class="card-text text-muted">Organizzatore/DJ</h5>
                    </div>
                    <p class="card-description">Amo stare alla consolle, interagire con gli ospiti e far ballare le persone! La musica è il cuore pulsante di ogni festa, e il mio obiettivo è far sì che tutti sentano il ritmo.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center card-equal-height">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="mb-3">
                        <img src="https://i.ibb.co/gMqXQzbG/IMG-20230625-003809.jpg" class="card-image-small" alt="Thomas Sedda alla consolle">
                        <h4 class="card-title mt-3">Thomas Sedda</h4>
                        <h5 class="card-text text-muted">Organizzatore/Fonico</h5>
                    </div>
                    <p class="card-description">Con i miei giochi di luce, creo atmosfere uniche e coinvolgenti che esaltano ogni momento della festa.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center card-equal-height">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="mb-3">
                        <img src="https://i.ibb.co/m5kyHjc6/48-AAC5-FD-C085-4915-BA08-68413-E5365-A8.jpg" class="card-image-small" alt="Thomas e Josè insieme">
                        <h4 class="card-title mt-3">Gli spiriti della festa</h4>
                    </div>
                    <p class="card-text">
                        Insieme puntiamo all'eccellenza! Due professionisti, una visione comune: trasformare ogni evento in un'esperienza memorabile. Il nostro mix di musica, giochi e intrattenimento crea una sinergia perfetta, garantendo che ogni momento sia speciale.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ultimate-section-page">
    <h1 class="title final-section g-4"><strong>Scopri cosa possiamo offrirti!</strong></h1>
    <h5 class="p-3 text description">Vi sorprenderemo con i nostri pacchetti esclusivi per rendere unici e indimenticabili i vostri eventi! Pronti a trasformare le vostre idee in realtà?</h5>
</div>
<div class="carousel-buttons">
<a class="carousel-btn" routerLink="/services" routerLinkActive="active">Scopri i nostri pacchetti</a>
</div>


