.section-about-us {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}

.title{
    justify-items: center;
    text-align: center;

}
.motive{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    text-align: center;
}

.desc-button{
    text-align: center;
    
}
.Cuore{
    color: #dc3545;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.description{
    justify-content: center;
    text-align: left;
    color: rgb(42, 28, 28);

}
.carousel-buttons {
    text-align: center;
}

.carousel-btn {
    justify-content: center;
    padding: 10px 24px;
    background: #dc3545; /* Colore rosso richiesto */
    color: white;
    text-decoration: none;
    border-radius: 20px; /* Più arrotondati */
    font-weight: 150;
    transition: all 0.3s ease;
    border: none;
    align-items: center;
    font-size: 1rem;
    display: inline-block;
    box-shadow: 0 4px 15px rgba(220, 53, 69, 0.3); /* Ombra per distacco */
  }

  .carousel-btn:hover {
    background: #c82333; /* Rosso più scuro al hover */
    transform: translateY(-3px); /* Effetto di sollevamento */
    box-shadow: 0 6px 20px rgba(220, 53, 69, 0.4);
    color: white;
    text-decoration: none;
  }


  .card-image-small {
    width: 200px; /* Imposta una larghezza fissa per tutte le immagini */
    height: 200px; /* Imposta un'altezza fissa per tutte le immagini */
    object-fit: cover; /* Assicura che l'immagine copra l'area senza distorcerla */
    border-radius: 50%; /* Rendi le immagini rotonde */
    border: 2px solid #ddd; /* Aggiunge un bordo sottile per evidenziarle */
}

/* Stile per centrare il contenuto e mantenere l'altezza uguale */
.card-image-small{
    width: 140px; /* Aumenta la larghezza */
    height: 170px;
    object-fit: cover;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    
}


.card-equal-height {
    display: flex;
    flex-direction: column;

}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #dc3545;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}
.card-text, .card-description {
    font-size: 0.9rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.ultimate-section-page{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    
}