<footer class="foot">
    <footer class="text-white pt-5 pb-4 foot">
        <div class="container-foot text-center text-md-start">
          <div class="row text-center text-md-start">
            <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text">Link Utili</h5>
              <p>
                <a class="text-privacy" routerLink="/privacy-policy" routerLinkActive="active" aria-current="page" href="privacy-policy">Privacy&Policy</a>
              </p>
            </div>
<div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3 text-center text-md-start">
    <h5 class="text-uppercase mb-4 font-weight-bold text">Seguici</h5>
    <ul class="list-inline d-inline-flex p-0 m-0">
      <li class="list-inline-item mx-2">
          <a href="https://www.facebook.com/share/1BEz2HY2US/?mibextid=wwXIfr"><i class="bi bi-facebook fs-4"></i></a>
      </li>
      <li class="list-inline-item mx-2">
        <a href="https://www.instagram.com/_housensationlove_?igsh=MWthYmx1cnl2bnVhNw=="><i class="bi bi-instagram fs-4"></i></a>
      </li>
      <li class="list-inline-item mx-2">
        <a href="https://youtube.com/@hsl71169?si=CYDtY_wTU1QpYHx-"><i class="bi bi-youtube fs-4"></i></a>
      </li>
    </ul>
  </div>
<hr class="mb-4">
<div class="row align-items-center">
  <div class="col-12 text-center">
    <p class="mb-0 text-dark">
      &copy; 2025 Copyright: Tutti i diritti riservati.
      <a href="#" style="text-decoration: none;">
        <strong class="text-dark">HouseSensationLove</strong>
      </a>
    </p>
  </div>
</div>
