.foot{
    background: linear-gradient(135deg, #4f546e 0%, #764ba2 50%, #c463ce 100%);
    padding: 15px;
    text-align: center;
  }
  .text{
    color: rgb(0, 0, 0);
    font-family: 'Playfair Display', serif;
    font-weight: 500;
  }
  .bi{
    color: #8c0d1a;
  }
  
.text-privacy{
  color: #8c0d1a;

  font-family: 'Playfair Display', serif;
  font-weight: 500;

}
