<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand con logo integrato -->
            <a class="navbar-brand d-flex text-dark brand-no-space" href="#">
                <img src="https://i.ibb.co/d0cVm6vY/logo.jpg" class="img-fluid logo" alt="Logo">
                 </a>
                 <div class="brand">House<span class="Sensation">Sensation</span>Love</div>
                 
              

            <!-- Toggle button per menu hamburger -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <!-- Menu collassabile -->
            <div class="collapse navbar-collapse" id="navbarNav3">

                <!--barra di ricerca-->
                <div class="search-wrapper mx-auto" style="max-width: 400px;">
                    <app-search></app-search>
                </div>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link home-link" routerLink="/home" routerLinkActive="active" aria-current="page" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link about-link" routerLink="/about" routerLinkActive="active" aria-current="page" href="about">Chi siamo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link service-link" routerLink="/services" routerLinkActive="active" aria-current="page" href="services">Servizi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link contact-link" routerLink="/contact" routerLinkActive="active" aria-current="page" href="contact">Contatti</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
