<section class="hero-section">      
<!--PRIMA IMMAGINE HOMEPAGE CON TESTO E BOTTONI-->
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.ibb.co/BVnLpZN8/IMG-20231025-103041-1.jpg" alt="IMG-20231025-103041-1" border="0">
        <div class="carousel-caption d-none d-md-block text-light">
          <h5 class="title-section-cards">La festa inizia da quì!</h5>
          <p>Scopri eventi esclusivi, serate indimenticabili e tutta l'energia che stavi cercando!</p>
        </div>
        <div class="carousel-buttons">
            <a  class="carousel-btn btn-1" routerLink="/services" routerLinkActive="active">I nostri Servizi</a>
            <a  class="carousel-btn btn-2" routerLink="/contact" routerLinkActive="active">Contattaci</a>
            </div>
         </div>
        </div>
     </div>
</section>
<!--SEZIONE CENTRALE PAGINA-->
<section>
    <div class="container py-5">
        <!-- Titolo Centrale -->
        <div class="row mb-5">
            <div class="col-12">
                <div class="main-title text-center">
                    <h1 class="display-4 fw-bold mb-0">Scopri l'evento che fa per te</h1>
                </div>
            </div>
        </div>
        
        <!-- Row delle 3 Card -->
    <section class="section-cards">
        <div class="container py-3">
            <!-- Riga 1: Immagine a sinistra, contenuto a destra -->
            <div class="row card-row align-items-center">
                <div class="col-md-6">
                <img src="https://i.ibb.co/dJzFsdPz/Matrimonio.jpg" alt="Immagine Card 1 Matrimonio" border="0" class="img-fluid card-image shadow-sm">
                </div>
                <div class="col-md-6">
                    <div class="card-content">
                        <h5 class="card-title fw-bold">Il tuo "Sì" perfetto</h5>
                        <p class="card-text text-muted">
                         Dalla cerimonia alla festa, creiamo momenti indimenticabili per te e i tuoi ospiti.  
                        </p>
                        <div>
                            <a  class="carousel-btn btn-1" routerLink="/services" routerLinkActive="active">Scopri di più...</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Riga 2: Contenuto a sinistra, immagine a destra -->
            <div class="row card-row align-items-center">
                <div class="col-md-6 order-md-2">
                <img src="https://i.ibb.co/FL0Mq00t/Pranzo.jpg" class="img-fluid card-image shadow-sm" alt="Immagine card 2 Pranzo">                   
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="card-content">
                        <h5 class="card-title fw-bold">Gusto e convivialità</h5>
                        <p class="card-text text-muted">
                           Eventi gastronomici per ogni occasione, con piatti autentici e atmosfere accoglienti.
                        </p>
                        <div>
                            <a  class="carousel-btn btn-1" routerLink="/services" routerLinkActive="active">Scopri di più...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row card-row align-items-center">
                <div class="col-md-6">
                <img src="https://i.ibb.co/2YC08k62/Party.jpg" alt="Immagine card 3 Party" border="0" class="img-fluid card-image shadow-sm">
                </div>
                <div class="col-md-6">
                    <div class="card-content">
                        <h5 class="card-title fw-bold">La festa che vuoi</h5>
                        <p class="card-text text-muted">
                            DJ, luci, musica e tanto divertimento: rendiamo speciale ogni tipo di party!
                        </p>
                        <div>
                            <a  class="carousel-btn btn-1" routerLink="/services" routerLinkActive="active">Scopri di più...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
