.title{
    justify-items: center;
    text-align: center;

}

.description{
    justify-content: center;
    text-align: left;
    color: rgb(42, 28, 28);

}

.card{
    background-color: #dc3545;
}

.card-body{
    
    border-radius: 2px solid;
}
.teext{
    color: whitesmoke;
    font-size: 20px;
}
.cost{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-style: italic;
}
.card2{
    padding: 4px;
    text-align: center;
}

.exclusive-background{
background: linear-gradient(135deg, #fff01e 0%, #1f2501 100%);
min-height: 200px; /* Aggiungi un'altezza minima */
    padding: 20px;

}

.carousel-btn {
    padding: 12px 24px;
    background: #dc3545; /* Colore rosso richiesto */
    color: white;
    text-decoration: none;
    border-radius: 20px; /* Più arrotondati */
    font-weight: 150;
    transition: all 0.3s ease;
    border: none;
    font-size: 1rem;
    display: inline-block;
    box-shadow: 0 4px 15px rgba(220, 53, 69, 0.3); /* Ombra per distacco */
  }
  