<div class="title-section-service">
    <h1 class="title p-3 display-4 fw-bold mb-0">I nostri pacchetti</h1>

    <h5 class="p-3 text description">Di seguito potrete trovare tutti i nostri pacchetti per qualsiasi genere di occasione.
        Il nostro repertorio è abbastanza versatile ma saprà adattarsi perfettamente al carattere unico del vostro evento!
    </h5>
</div>
<!--CARD 1-->

    <div class="card card2 p-4 ">
        <div class="card-body">
          <div class="card-title teext">
            <h4><strong>PACCHETTO BASE</strong></h4>
          </div>
          <div class="card-description teext">
           DJ E INTRATTENIMENTO AL MICROFONO, POSTAZIONE DJ AUDIO E LUCI + GADGET
          </div>
          <h3 class="cost p-2"><strong>200€</strong></h3>
        </div>
      </div>

      <!--CARD 2-->
      <div class="card card2 p-4 my-3">
        <div class="card-body">
          <div class="card-title teext">
            <h4><strong>PACCHETTO STANDARD</strong></h4>
          <div class="card-description teext">
            DJ E INTRATTENIMENTO AL MICROFONO, POSTAZIONE DJ AUDIO E LUCI + GADGET + SERVIZIO FOTO IN SALA + PROIEZIONE IN SALA
          </div>
          <h3 class="cost p-2"><strong>350€</strong></h3>
        </div>
      </div>
      </div>

        <!--CARD 3-->
      <div class="card card2 p-4 my-3">
        <div class="card-body">
          <div class="card-title teext">
            <h4><strong>PACCHETTO BAMBINI</strong></h4>
          </div>
          <div class="card-description teext">
           DJ E INTRATTENIMENTO AL MICROFONO, POSTAZIONE DJ AUDIO E LUCI + ANIMAZIONE CON PERSONAGGIO + FOTO + PROIEZIONE + GADGET
          </div>
          <h3 class="cost p-2"><strong>400€</strong></h3>
        </div>
      </div>

      <div class="title-exclusive">
        <h1 class="title p-2 display-4 fw-bold mb-0">PACCHETTI ESCLUSIVI</h1>

        <!--CARD 4-->

        <section class="exclusive-background">
        <div class="card card2 p-4 my-3">
            <div class="card-body">
              <div class="card-title teext">
                <h4><strong>PACCHETTO EXCLUSIVE</strong></h4>
              </div>
              <div class="card-description teext">
                DJ E INTRATTENIMENTO AL MICROFONO, POSTAZIONE DJ AUDIO E LUCI + GADGET + SERVIZIO FOTO  IN SALA  + PROIEZIONE IN SALA + SPARKULAR (FONTANE PER I 3 MOMENTI: INGRESSO BALLO E TORTA)
              </div>
              <h3 class="cost p-2"><strong>450€</strong></h3>
            </div>
          </div>
            <!--CARD 5-->
          <div class="card card2 p-4 my-3">
            <div class="card-body">
              <div class="card-title teext">
                <h4><strong>PACCHETTO TOP</strong></h4>
              </div>
              <div class="card-description teext">
              DJ E INTRATTENIMENTO AL MICROFONO, POSTAZIONE DJ AUDIO E LUCI + GADGET + SERVIZIO FOTO IN SALA + PROIEZIONE IN SALA + SPARKULAR (FONTANE PER I 3 MOMENTI: INGRESSO BALLO E TORTA) + 1 CANTANTE + 1 ARTISTA A SCELTA TRA: PERCUSSIONISTA, SASSOFONISTA, VIOLINISTA + BALLO FRA LE NUVOLE
              </div>
              <h3 class="cost p-2"><strong>800€</strong></h3>
            </div>
          </div>
        </section>

        <div class="ultimate-description-page">
            <h4 class="p-3 title"><strong>DUNQUE NON ASPETTARE!</strong><h4>
            <h5 class="text description p-2"> Contattaci per trasformare il tuo momento più bello in un ricordo che durerà per sempre!</h5>
            <div class="carousel-buttons">
                <a class="carousel-btn btn-1" routerLink="/contact" routerLinkActive="active">CONTATTACI</a></div>

