/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');
h1, .main-title, .event-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700; 

  }

  h2, h3, .description {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
  }
  



#carouselExampleCaptions::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #000000 0%, #c82333 50%, #ffffff 100%);
    z-index: -1;
}


